@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>Quick Link to Game List</h3>

    <div class="col-lg-12">
        <p>Go Here Now:</p>
        <div>
            <ul style="list-style: none;">
                <li><a asp-area="" asp-controller="Game" asp-action="Index">Index List</a></li>
                <li><a asp-area="" asp-controller="Game" asp-action="Create">Add Game</a></li>
            </ul>
        </div>
    </div>
</div>
